server:
  port: 8080
  servlet:
    context-path: /api
  error:
    include-message: always
    include-stacktrace: always # This will show the real Java error in Postman

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG